@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.wh-details {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 5px 6px -2px rgba(0, 0, 0, 0.25);

    &__header-wrapper {
        position: relative;
        height: 1.5rem;
        background-color: $white;

        @include tablet {
            height: 0;
        }
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $white;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        padding: 2rem 1.5rem 0;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 1rem;

        @include tablet {
            padding: 2rem 2rem 1.4375rem;
            bottom: 0;
        }

        @include desktop {
            padding: 2rem 2.5rem 1.4375rem;
        }
    }

    &__heading-container {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    &__back-link {
        display: flex;
    }

    &__heading {
        font-size: $m-h1;
        margin: 0;

        @include tablet {
            font-size: $h1;
        }
    }


    &__edit-icon-container {
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 1.25rem;
        background-color: $instock-indigo;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__edit-icon-link {
        display: flex;
    }

    &__warehouse {
        border-top: 1px solid $secondary-cloud;
        background-color: $white;
        padding: 1rem 1.5rem;

        @include tablet {
            padding: 1.5rem 2rem;
            display: flex;
        }

        @include desktop {
            padding: 1.5rem 2.5rem;
        }
    }

    &__address {
        margin-bottom: 2.25rem;

        @include tablet {
            margin-bottom: 0;
            margin-right: 2rem;
            width: 35%;
        }
    }

    &__label {
        margin: 0 0 4px;
        font-size: $m-h4;
        color: $secondary-slate;

        @include tablet {
            font-size: $h4;
        }
    }

    &__content {
        margin: 0;

        &--address {
            @include tablet {
                display: flex;
                flex-direction: column;
            }
        }
    }

    &__contact-container {
        display: flex;

        @include tablet {
            border-left: 1px solid $secondary-cloud;
            padding-left: 2.5rem;
            gap: 1.5rem;
            width: 65%;
        }
    }

    &__contact {
        flex: 0 1 50%;
    }

    &__sort-bar {
        display: none;

        @include tablet {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: $bg-light-grey;
            padding: 0.75rem 2rem;
        }

        @include desktop {
            padding: 0.75rem 2.5rem;
        }
    }

    &__sort-bar-type {
        @include tablet {
            margin: 0;
            display: flex;
            align-items: center;
            color: $secondary-slate;
            flex: 0 1 100%;
            font-size: $h4;
        }
    }

    &__sort-icon {
        @include tablet {
            margin-left: 4px;
        }
    }

    &__sort-bar-actions {
        @include tablet {
            margin: 0;
            color: $secondary-slate;
            padding-left: 1rem;
            font-size: $h4;
        }
    }
}