@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.warehouses {
    background-color: $white;
    border-radius: 3px;
    box-shadow: 0 5px 6px -2px rgba(0, 0, 0, 0.25);

    &__header {
        padding: 1.5rem 1.5rem 1.5rem;
        position: relative;

        @include tablet {
            padding: 2rem 2rem 1.5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: absolute;
            left: 2rem;
            right: 2rem;
            bottom: 100%;
            border-bottom: none;
            background-color: $white;
        }

        @include desktop {
            padding: 2rem 2.5rem 1.5rem;
            left: 8.125rem;
            right: 8.125rem;
        }
    }

    &__heading {
        margin: 0;
        font-size: $m-h1;
        padding: 2rem 1.5rem 0;
        position: absolute;
        left: 0;
        right: 0;
        top: -50%;
        background-color: $white;

        @include tablet {
            margin: 0;
            position: static;
            padding: 0;
            font-size: $h1;
        }
    }

    &__header-widgets {
        @include tablet {
            display: flex;
            gap: 1rem;
        }
    }

    &__search-container {
        position: relative;
        margin-bottom: 1rem;

        @include tablet {
            margin: 0;
        }
    }

    &__search {
        height: 2.25rem;
        width: 100%;
        border: 1px solid $secondary-cloud;
        border-radius: 1.25rem;
        padding: 0 1rem;
        font-family: inherit;
        font-size: $m-p2;

        @include tablet {
            height: 2.375rem;
            width: 11.56rem;
            font-size: $p2;
        }

        @include desktop {
            width: 17.125rem;
        }

        &:focus {
            outline: none;
            border-color: $instock-indigo;
        }
    }

    &__search-icon {
        position: absolute;
        right: 5%;
        height: 100%;
    }

    &__add-btn {
        height: 2.25rem;
        width: 100%;
        padding: 0 1rem;
        border-radius: 1.25rem;
        background-color: $instock-indigo;
        border: none;
        color: $white;
        font-family: inherit;
        font-size: $m-h3;

        @include tablet {
            height: 2.375rem;
            width: 10.5rem;
            font-size: $h3;
        }
    }

    &__sort {
        display: none;

        @include tablet {
            padding: 0.75rem 2rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: $bg-light-grey;
        }

        @include desktop {
            padding: 0.75rem 2.5rem;
        }
    }

    &__sort-option {
        @include tablet {
            display: flex;
            align-items: center;
            gap: 4px;
            font-size: $h4;
            color: $secondary-slate;
            flex: 0 1 100%;

            &:last-child {
                justify-content: flex-end;
            }
        }
    }

    &__sort-icon {
        @include tablet {
            width: 1rem;
        }
    }
}