@font-face {
    font-family: "Titillium-Web";
    src: url("/src/assets/fonts/titillium-web-Regular-400.ttf"), format("ttf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Titillium-Web";
    src: url("/src/assets/fonts/titillium-web-Bold-600.ttf"), format("ttf");
    font-weight: 600;
    font-style: normal;
}