@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.modal-wrapper {
    @include tablet {
        position: relative;
    }
}

.modal-backdrop {
    @include tablet {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $instock-black;
        opacity: 0.7;
    }
}

.delete-modal {
    background-color: $white;
    outline: none;
    height: 100%;
    padding: 3.75rem 1rem 1.5rem;
    position: relative;
    border-radius: 3px;

    @include tablet {
        width: 90%;
        height: 16.375rem;
        margin: 12rem auto 0;
        padding: 2.5rem 4rem;
    }

    @include desktop {
        width: 55%;
    }

    &__close-icon {
        position: absolute;
        top: 1rem;
        right: 1rem;

        &:hover {
            cursor: pointer;
        }
    }
    
    &__heading {
        margin: 0 0 1rem;
        font-size: $m-h1;
        width: 80%;

        @include tablet {
            font-size: $h1;
        }
    }

    &__body {
        font-size: $m-p1;

        @include tablet {
            font-size: $p1;
            padding-right: 20%;
        }
    }

    &__footer {
        position: absolute;
        bottom: 1.5rem;
        right: 1rem;
        left: 1rem;
        display: flex;
        gap: 1rem;

        @include tablet {
            bottom: 2.5rem;
            right: 4rem;
            left: 4rem;
            justify-content: flex-end;
        }
    }

    &__button {
        padding: 0.5rem 0;
        font-family: inherit;
        width: 100%;
        font-size: $m-h3;
        border-radius: 1.25rem;
        border: none;

        @include tablet {
            font-size: $h3;
            width: auto;
            padding: 0.5rem 1rem;
        }

        &:hover {
            cursor: pointer;
        }

        &--cxl {
            background-color: $white;
            border: 1px solid $secondary-cloud;
            color: $secondary-slate;
        }

        &--delete {
            background-color: $red;
            color: $white;
        }
    }
}

.hidden {
    display: none;
}