@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.header {
    background-color: $bg-graphite;
    padding: 1.5rem 1rem;

    &__logo {
        display: block;
        margin: 0 auto 1.5rem;
    }

    &__nav {
        display: flex;
    }

    &__nav-link {
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 2.25rem;
        text-align: center;
        border-radius: 1.25rem;
        color: $secondary-cloud;

        &--active {
            background-color: $instock-black;
            color: $white;
        }
    }
}