@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.header {
    background-color: $bg-graphite;
    padding: 1.5rem 1rem;

    &__logo {
        display: block;
        margin: auto;
    }
}