@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.footer {
    padding: 2.5rem 0;
    display: flex;
    justify-content: center;
    background-color: $bg-light-grey;

    @include tablet {
        padding: 4.375rem 0 2.5rem;
    }

    @include desktop {
        padding: 5.9375rem 0 3rem;
    }

    &__copyright {
        margin: 0;
        font-size: $m-p3;

        @include tablet {
            font-size: $p3;
        }
    }
}