@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.inventory-item {
    padding: 1rem 1.5rem 1.5rem;
    background-color: $white;
    border-top: 1px solid $secondary-cloud;

    @include tablet {
        padding: 1rem 2rem;
    }

    @include desktop {
        padding: 1rem 2.5rem;
    }

    &__mobile {
        @include tablet {
            display: none;
        }
    }

    &__upper-container {
        display: flex;
        margin-bottom: 1.25rem;
    }

    &__section {
        flex: 0 1 50%;

        @include tablet {
            flex: 0 1 100%;
        }
    }

    &__label {
        margin: 0 0 4px;
        color: $secondary-slate;
        font-size: $m-h4;

        @include tablet {
            font-size: $h4;
        }
    }

    &__content {
        margin: 0;

        &--name {
            font-size: $m-h3;

            @include tablet {
                font-size: $h3;
            }
        }
    }

    &__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $instock-indigo;

        @include tablet {
            flex: 0 1 100%;
        }
    }

    &__status {
        margin: 0;
        display: inline-block;
        padding: 0.25rem 0.5rem;
        border-radius: 1.25rem;
        background-color: $bg-light-grey;
        color: $green;
        font-size: $m-h4;

        @include tablet {
            font-size: $h4;
        }

        &--red {
            color: $red;
        }
    }

    &__lower-container {
        display: flex;
        margin-bottom: 1rem;
    }

    &__buttons {
        display: flex;
        justify-content: space-between;

        @include tablet {
            justify-content: initial;
            gap: 1rem;
        }
    }

    &__tablet {
        @include tablet {
            display: flex;
            align-items: center;
        }
    }
}