@use './styles/partials/fonts' as *;
@use './styles/partials/variables' as *;


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Titillium-Web', sans-serif;
  font-weight: 400;
  font-size: $m-p2;
}

main {
  padding: 0 1rem;
  background-color: $bg-light-grey;
}
