@use './styles/partials/fonts' as *;
@use './styles/partials/variables' as *;
@use './styles/partials/mixins' as *;


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Titillium-Web', sans-serif;
  font-weight: 400;
  font-size: $m-p2;

  @include tablet {
    font-size: $p2;
  }
}

main {
  padding: 0 1rem;
  background-color: $bg-light-grey;
  position: relative;

  @include tablet {
    padding: 0 2rem;
  }

  @include desktop {
    padding: 0 8.125rem;
  }
}